.axisImportance line{
    stroke: #BABABA;
}

.axisImportance path{
    stroke: #BABABA;
}

.axisImportance text{
}

.selectMetric {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #FFF;
    color: #BABABA;
}

text {
    cursor: default;
}