.axisImportance line{
    stroke: #BABABA;
}

.axisImportance path{
    stroke: #BABABA;
}

.axisImportance text{
}

.selectMetric {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #FFF;
    color: #BABABA;
}

text {
    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.bracket {
    fill: none;
    stroke: #636363;
    stroke-width: 1px;
}