.axisImportance line{
    stroke: #BABABA;
}

.axisImportance path{
    stroke: #BABABA;
}

.axisImportance text{
    fill: #BABABA;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

